# Archivos del sistema
.DS_Store
Thumbs.db

# Dependencias de Node
/node_modules/
/.npm
/.yarn
/.pnp
.pnp.js

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Entornos y variables
.env
.env.local
.env.*.local

# Directorios de construcción
/dist/
/build/
/.vuepress/dist

# Cache
.cache/
.temp/
*.tmp

# Editor/IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
/coverage/
*.lcov
.nyc_output/

# Archivos específicos de Vue/Vite
*.local
.history/
.ssr/